h1{
    text-align:center;
}
label{
       font-weight:bold;
       font-style: normal;
}
input{
    text-align: center;
}
legend{
    text-align: center;
}
textarea{
    background-color: antiquewhite;
    width: 500px;
    height: 200px;
}
button{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    width: 70px;
}